# Data Structures


**Data structures**: are specialized ways of organizing, storing, and managing data in a computer so that it can be accessed and modified efficiently. They define the layout or format in which data is stored, making operations like searching, adding, deleting, or updating data more structured and optimized.

In Python, common data structures include **lists**, **tuples**, **sets**, and **dictionaries**. Each data structure has its unique properties and use cases.

In [8]:
my_family_ages = [23, 20, 17, 15, 14, 10]

In [10]:
school_items = {'Tuwo', 'Amala', 'Beverages', 'Bed', 'lamp'}

In [ ]:
my_age = 10

## Lists

A **list** is an ordered collection of items in Python, which can hold a variety of data types such as integers, strings, or even other lists. Lists are **mutable**, meaning their content can be changed after creation.

Syntax for defining a list:
```python
my_list = [1, 2, 3, "hello", True]
```

In [13]:
family_name = ['Ade', 'John', 'Femi', 'Musa']

In [14]:
print(type(family_name))

<class 'list'>

In [15]:
school_list = ['Garri', 25000, 'Semo', 'Rice', 6000]

### Creating List
Lists are created by placing items (elements) inside square brackets `[]`, separated by commas.

Example:
```python
fruits = ["apple", "banana", "cherry"]
```

### Different List Functions
- `len(list)`: Returns the number of items in a list.
- `max(list)`: Returns the maximum value in a list.
- `min(list)`: Returns the minimum value in a list.
- `sum(list)`: Returns the sum of elements (for numeric lists).

Example:
```python
numbers = [5, 10, 15, 20]
print(len(numbers))  # Output: 4
print(sum(numbers))  # Output: 50
```

In [17]:
my_list = ['Garri', 'Semo', 25000]

len(my_list)

3

In [22]:
class_ages = [23, 45, 32, 14, 24]
min(class_ages)

14

In [23]:
max(class_ages)

45

In [24]:
sum(class_ages)

138

In [5]:
my_items = [1, 2, 3, 'Boy', 'Girl', 'President', True, False]

In [6]:
type(my_items)

list

In [11]:
min(['Busola', 'Ade', 'Sara', 1])

TypeError: '<' not supported between instances of 'int' and 'str'

### Different List Methods
- `append(item)`: Adds an item to the end of the list.
- `extend(iterable)`: Adds all items from an iterable (e.g., another list) to the end.
- `insert(index, item)`: Inserts an item at the specified position.
- `remove(item)`: Removes the first occurrence of an item.
- `pop([index])`: Removes and returns an item at the given index (default is the last item).
- `sort()`: Sorts the list in ascending order.
- `reverse()`: Reverses the list in place.

Example:
```python
my_list = [3, 1, 4]
my_list.append(5)      # [3, 1, 4, 5]
my_list.insert(1, 2)   # [3, 2, 1, 4, 5]
my_list.sort()         # [1, 2, 3, 4, 5]
```

In [12]:
my_list = ['milo', 'rice', 'beans', 'palm oil']

In [13]:
my_list.append('semo')

In [14]:
my_list

['milo', 'rice', 'beans', 'palm oil', 'semo']

In [16]:
# use extend to add another list to the existing list
my_list.extend(['cereals', 'milk', 'sugar', 'oat'])

In [17]:
my_list

['milo',
 'rice',
 'beans',
 'palm oil',
 'semo',
 'cereals',
 'milk',
 'sugar',
 'oat']

In [18]:
# add an item to a particular position in the list
my_list.insert(0, 'garri')

In [19]:
my_list

['garri',
 'milo',
 'rice',
 'beans',
 'palm oil',
 'semo',
 'cereals',
 'milk',
 'sugar',
 'oat']

In [20]:
my_list.insert(2, 'bournvita')

In [21]:
my_list

['garri',
 'milo',
 'bournvita',
 'rice',
 'beans',
 'palm oil',
 'semo',
 'cereals',
 'milk',
 'sugar',
 'oat']

In [22]:
# remove 
my_list.remove('bournvita')

In [23]:
my_list

['garri',
 'milo',
 'rice',
 'beans',
 'palm oil',
 'semo',
 'cereals',
 'milk',
 'sugar',
 'oat']

In [25]:
my_list.append('sweet')

In [26]:
my_list

['garri',
 'milo',
 'rice',
 'beans',
 'palm oil',
 'semo',
 'cereals',
 'milk',
 'sugar',
 'oat',
 'sweet',
 'sweet']

In [27]:
my_list.remove('sweet')

In [28]:
my_list

['garri',
 'milo',
 'rice',
 'beans',
 'palm oil',
 'semo',
 'cereals',
 'milk',
 'sugar',
 'oat',
 'sweet']

In [29]:
# remove items without stating its name
my_list.pop() # if the pop has no argument, pop removes the last item in the list

'sweet'

In [30]:
my_list

['garri',
 'milo',
 'rice',
 'beans',
 'palm oil',
 'semo',
 'cereals',
 'milk',
 'sugar',
 'oat']

In [31]:
my_list.pop(4)

'palm oil'

In [32]:
my_list

['garri', 'milo', 'rice', 'beans', 'semo', 'cereals', 'milk', 'sugar', 'oat']

In [46]:
# arrange in alphabetical order
my_list.sort(reverse=True)

In [47]:
my_list

['sugar', 'semo', 'rice', 'oat', 'milo', 'milk', 'garri', 'cereals', 'beans']

In [49]:
# reverse
my_list

['sugar', 'semo', 'rice', 'oat', 'milo', 'milk', 'garri', 'cereals', 'beans']

In [50]:
my_list.reverse()

In [51]:
my_list

['beans', 'cereals', 'garri', 'milk', 'milo', 'oat', 'rice', 'semo', 'sugar']

In [61]:
del my_list[2:4]

In [62]:
my_list

['beans', 'cereals', 'milo', 'oat', 'rice', 'semo', 'sugar']

In [ ]:
my_list

# Properties of Lists in Python


## 1. Mutability
Lists are **mutable**, meaning you can change, add, or remove elements after the list has been created.

### Example:
```python
my_list = [1, 2, 3, 4]
my_list[2] = 10  # Modifying the third element
print(my_list)   # Output: [1, 2, 10, 4]
```

You can also append or remove elements:
```python
my_list.append(5)  # Adding an element
my_list.remove(2)  # Removing an element
print(my_list)     # Output: [1, 10, 4, 5]
```

In [66]:
# you can change element in a list

my_list[5] = 'buscuit'

In [67]:
my_list

['beans', 'cereals', 'milo', 'oat', 'rice', 'buscuit', 'sugar']

## 2. Ordering
Lists maintain the order of elements. The elements are stored in the order they were added, and you can access them via their **index**.

### Example:
```python
fruits = ["apple", "banana", "cherry"]
print(fruits[0])  # Output: apple (first element)
print(fruits[2])  # Output: cherry (third element)
```

In [70]:
my_list.sort()

In [71]:
my_list

['beans', 'buscuit', 'cereals', 'milo', 'oat', 'rice', 'sugar']

In [72]:
my_list

['beans', 'buscuit', 'cereals', 'milo', 'oat', 'rice', 'sugar']

In [73]:
my_list[4]

'oat'

## 3. Heterogeneity
Lists can store elements of **different data types**. You can mix integers, strings, floats, and even other lists within the same list.

### Example:
```python
mixed_list = [1, "hello", 3.14, [2, 4, 6]]
print(mixed_list)  # Output: [1, 'hello', 3.14, [2, 4, 6]]
```

## 4. Nesting
Lists can contain other lists (or other data structures) as elements, allowing for the creation of **nested lists** or multidimensional lists.

### Example:
```python
nested_list = [[1, 2], [3, 4], [5, 6]]
print(nested_list[1])      # Output: [3, 4] (second list)
print(nested_list[1][0])   # Output: 3 (first element of the second list)
```

In [74]:
my_list

['beans', 'buscuit', 'cereals', 'milo', 'oat', 'rice', 'sugar']

In [77]:
bola_list = ['akara', 'popcorn']

In [78]:
my_list.append(bola_list)

In [79]:
my_list

['beans',
 'buscuit',
 'cereals',
 'milo',
 'oat',
 'rice',
 'sugar',
 ['akara', 'popcorn']]

In [75]:
type([3, 4, 6, 7, [8, 9, 0]])

list

### 5. Indexing List
Lists are indexed, starting from 0 for the first element, 1 for the second, and so on.

Example:
```python
fruits = ["apple", "banana", "cherry"]
print(fruits[0])  # Output: apple
print(fruits[2])  # Output: cherry
```

In [80]:
my_list

['beans',
 'buscuit',
 'cereals',
 'milo',
 'oat',
 'rice',
 'sugar',
 ['akara', 'popcorn']]

### 6. Slicing List
Slicing allows you to access a subset of the list by specifying a range of indices.

Syntax: `list[start:stop]`
- **start**: index to begin (inclusive)
- **stop**: index to end (exclusive)

Example:
```python
numbers = [10, 20, 30, 40, 50]
print(numbers[1:4])  # Output: [20, 30, 40]
```
---

In [81]:
numbers = [10, 20, 30, 40, 50]

In [82]:
numbers[0:3]

[10, 20, 30]

## Tuples

A **tuple** is an ordered collection of items in Python, similar to a list, but unlike lists, tuples are **immutable**, meaning their elements cannot be changed, added, or removed after creation.

Syntax for defining a tuple:
```python
my_tuple = (1, 2, 3, "hello", True)
```

In [ ]:
# list === []
# tuple === ()

In [1]:
busola = ()
type(busola)

tuple

In [2]:
seun = []
type(seun)

list

In [ ]:
# food bucket
food_item = ['rice', 'beans', 'garri'] # mutable

# admission
admisson_names = ('sola', 'lola', 'john') # immutable

### Purpose of Tuple
- **Immutability**: Useful for storing data that should not be modified.
- **Memory efficiency**: Tuples use less memory compared to lists, making them ideal for read-only collections.
- **Hashable**: Can be used as keys in dictionaries if they contain hashable types.

### Creating Tuple
Tuples are created by placing items inside parentheses `()` and separating them with commas. For a single-item tuple, a trailing comma is required.

Examples:
```python
my_tuple = (1, 2, 3)
single_item_tuple = (5,)  # Note the comma
```

In [3]:
name = 'ade', 'lola', 'tunde'

In [4]:
type(name)

tuple

In [5]:
cities = ('ibadan')

In [6]:
type(cities)

str

In [8]:
cities = ('ibadan',)

In [9]:
type(cities)

tuple

### Different Tuple Functions
- `len(tuple)`: Returns the number of elements in the tuple.
- `max(tuple)`: Returns the maximum value in the tuple (if the items are comparable).
- `min(tuple)`: Returns the minimum value in the tuple.
- `sum(tuple)`: Returns the sum of elements (for numeric tuples).
- `tuple()`: Converts an iterable (like a list) into a tuple.

Example:
```python
numbers = (5, 10, 15, 20)
print(len(numbers))  # Output: 4
print(sum(numbers))  # Output: 50
```

In [12]:
cities = ('ibadan', 'osogbo', 'ilorin', 'ife')
print(len(cities))
seun = 'my name'

4

In [13]:
# type conversion
name = ['john', 'sola', 'ade']

In [14]:
type(name)

list

In [15]:
tuple(name)

('john', 'sola', 'ade')

In [16]:
age = (12, 45, 87, 23)

In [17]:
list(age)

[12, 45, 87, 23]

### Different Tuple Methods
Since tuples are immutable, they have fewer methods than lists. The two main methods are:
- `count(item)`: Returns the number of times an item appears in the tuple.
- `index(item)`: Returns the index of the first occurrence of an item.

Example:
```python
my_tuple = (1, 2, 3, 2, 4)
print(my_tuple.count(2))  # Output: 2
print(my_tuple.index(3))  # Output: 2
```

---

In [18]:
my_name = 'busola'
my_name.upper()

'BUSOLA'

In [19]:
my_age = 12
my_age.upper()

AttributeError: 'int' object has no attribute 'upper'

In [24]:
class_name = ('ade', 'sola', 'tade', 'ade')

In [25]:
class_name.count('ade')

2

In [27]:
class_name.index('tade')

2

In [28]:
class_name.index('ade')

0

In [ ]:
class_name.

In [37]:
school = 'square school'

In [38]:
school.capitalize()

'Square school'

In [39]:
my_friend = 'Ade'

In [40]:
len(my_friend)

3

In [55]:
len(my_friend.center(1))

100

In [56]:
sibling_salaries = [12, 34, 67, 23, 45]

In [57]:
sibling_salaries.sort()

In [58]:
sibling_salaries

[12, 23, 34, 45, 67]

# Properties of Tuples in Python



## 1. Immutability
Tuples are **immutable**, meaning that once a tuple is created, its elements cannot be modified (i.e., no adding, removing, or changing elements).

### Example:
```python
my_tuple = (1, 2, 3)
# Attempting to change an element will raise an error
# my_tuple[1] = 10  # Uncommenting this line will raise a TypeError
```

The immutability of tuples makes them a good choice when you want to ensure that data remains constant throughout the program.

## 2. Ordering
Tuples maintain the **order** of elements, just like lists. The elements in a tuple are stored in the order they are added, and this order does not change.

### Example:
```python
my_tuple = ("apple", "banana", "cherry")
print(my_tuple[0])  # Output: apple (first element)
print(my_tuple[2])  # Output: cherry (third element)
```

In [59]:
my_tuple = ("apple", "banana", "cherry")

In [68]:
my_tuple[-1]

'cherry'

In [60]:
my_food = ['garri', 'rice', 'beans', 'yam', 'banana']

In [65]:
my_food[-2]

'yam'

In [70]:
import numpy as np

## 3. Heterogeneity
Tuples can store elements of **different data types**, allowing you to mix integers, strings, floats, or even other tuples within the same tuple.

### Example:
```python
my_tuple = (     1, "hello", 3.14, (10, 20)     )
print(my_tuple)  # Output: (1, 'hello', 3.14, (10, 20))
```

## 4. Nesting
Tuples can contain other tuples or other data structures (such as lists or dictionaries) as elements. This is called **nesting**.

### Example:
```python
nested_tuple = ( (1, 2), ("a", "b"), (True, False)   )
print(nested_tuple[1])     # Output: ('a', 'b') (second tuple)
print(nested_tuple[1][0])  # Output: 'a' (first element of the second tuple)
```

In [72]:
my_family = (('busola', 12, 'blue'), ('lola', 32, 'black'), ('john', 24, 'white'))

In [73]:
len(my_family)

3

In [75]:
my_family[0][0]

'busola'

In [77]:
my_family[2][2]

'white'

In [79]:
my_family[2][0]

'john'

## 5. Indexing and Slicing
Tuples, like lists, support **indexing** and **slicing**. You can access individual elements by their index or obtain a subset of the tuple using slicing.

### Example (Indexing):
```python
my_tuple = (10, 20, 30, 40)
print(my_tuple[1])    # Output: 20 (second element)
print(my_tuple[-1])   # Output: 40 (last element)
```

### Example (Slicing):
```python
my_tuple = (10, 20, 30, 40, 50)
print(my_tuple[1:4])  # Output: (20, 30, 40) (elements from index 1 to 3)
print(my_tuple[:3])   # Output: (10, 20, 30) (first three elements)
```

In [88]:
class_mate = ('john', 'lucky', 'femi', 'moses', 'azeez', 'idayat')

In [82]:
class_mate[-2]

'moses'

In [84]:
class_mate[-2:]

('moses', 'azeez')

In [91]:
class_mate[3:6]

('moses', 'azeez', 'idayat')

## 6. Hashable
Tuples are **hashable** if they contain hashable types (e.g., integers, strings). This makes them usable as keys in dictionaries, unlike lists which are mutable and not hashable.

### Example:
```python
my_tuple = (1, 2, 3)
my_dict = {my_tuple: "value"}
print(my_dict)  # Output: {(1, 2, 3): 'value'}
```

## 7. Tuple Packing and Unpacking
Tuples allow **packing** multiple values into a single tuple and **unpacking** the tuple into separate variables.

### Example (Packing):
```python
packed_tuple = 1, 2, "hello"  # Packing values into a tuple
print(packed_tuple)           # Output: (1, 2, 'hello')
```

### Example (Unpacking):
```python
a, b, c = packed_tuple  # Unpacking the tuple into variables
print(a)  # Output: 1
print(b)  # Output: 2
print(c)  # Output: hello
```

## 9. Memory Efficiency
Tuples are more **memory-efficient** than lists due to their immutability, making them a preferred choice for large datasets that don't require modification.

### Example:
```python
import sys
my_list = [1, 2, 3]
my_tuple = (1, 2, 3)
print(sys.getsizeof(my_list))  # Output: (size in bytes, e.g., 80)
print(sys.getsizeof(my_tuple)) # Output: (size in bytes, e.g., 64)
```
---

## Unpacking
In Python, **unpacking with an asterisk (`*`)** allows you to unpack elements from a data structure like a list, tuple, or other iterable. The asterisk (`*`) can be used to capture multiple elements from a sequence and assign them to variables. This is especially useful when you want to assign a part of the sequence to one variable and the remaining elements to another.

### How Unpacking with `*` Works:
- When you use a single asterisk (`*`) before a variable in an unpacking assignment, it collects all the remaining items from the iterable into a list.
- It allows for **partial unpacking**, where some variables receive specific values, and the remaining values are collected into a list by the `*` variable.

### Example 1: Unpacking a List with `*`
```python
numbers = [1, 2, 3, 4, 5]

# Unpacking the first two elements into a and b, and the rest into c
a, b, *c = numbers

print(a)  # Output: 1
print(b)  # Output: 2
print(c)  # Output: [3, 4, 5] (the remaining elements are stored in c)
```

In [92]:
my_children = ('lola', 'femi', 'kemi', 'demi')

In [93]:
first, second, third, fourth = my_children

In [94]:
first

'lola'

In [95]:
second

'femi'

In [96]:
third

'kemi'

In [97]:
fourth

'demi'

In [106]:
cities = ('lagos', 'ibadan', 'osogbo')

In [108]:
wealthiest_city, largest_city, electricity_city = cities

In [109]:
largest_city

'ibadan'

In [110]:
electricity_city

'osogbo'

### Example 2: Unpacking a Tuple with `*`
```python
my_tuple = (10, 20, 30, 40, 50)

# Unpacking the first element into x, the last element into z, and the rest into y
x, *y, z = my_tuple

print(x)  # Output: 10
print(y)  # Output: [20, 30, 40] (middle elements are stored in y)
print(z)  # Output: 50
```

In [114]:
cities = ('ibadan', 'ikeja', 'osogbo', 'ikeji')

In [116]:
oyo, lagos, *osun = cities

In [117]:
oyo

'ibadan'

In [118]:
lagos

'ikeja'

In [119]:
osun

['osogbo', 'ikeji']

In [120]:
cities = ('ibadan', 'ikorodu', 'agege', 'surulere', 'osogbo')

In [121]:
oyo, *lagos, osun = cities

In [122]:
oyo

'ibadan'

In [123]:
lagos

['ikorodu', 'agege', 'surulere']

In [124]:
osun

'osogbo'

### Example 3: Ignoring Some Values Using `*`
You can use unpacking with `*` to ignore certain parts of a sequence.
```python
data = [100, 200, 300, 400, 500]

# Unpacking the first and last elements, and ignoring the middle
first, *_, last = data

print(first)  # Output: 100
print(last)   # Output: 500
```
Here, `_` is a convention used when you want to ignore some elements.

In [ ]:
cities = ('ibadan', 'ikorodu', 'agege', 'surulere', 'osogbo')

In [125]:
oyo, *_, osun = cities

In [126]:
cities = ('ibadan', 'ikorodu', 'agege', 'surulere', 'osogbo')

In [127]:
oyo, *lagos, _ = cities

### Example 4: Function Arguments with `*`
Unpacking with `*` can also be used to pass variable-length arguments to a function.

#### Example:
```python
def my_function(a, b, c):
    print(a, b, c)

# Using * to unpack a list into function arguments
args = [1, 2, 3]
my_function(*args)  # Output: 1 2 3
```

### Example 5: Merging Lists with `*`
You can also use `*` to unpack lists (or tuples) when merging them.
```python
list1 = [1, 2, 3]
list2 = [4, 5, 6]

merged_list = [*list1, *list2]
print(merged_list)  # Output: [1, 2, 3, 4, 5, 6]
```

### Summary:
- `*` allows you to capture multiple elements from a sequence into a list during unpacking.
- You can unpack specific elements and group the rest with `*`.
- It's versatile in function arguments, list merging, and ignoring values.

In [129]:
my_children = (*('femi', 'ade'), *('lola', 'fola'))

In [130]:
my_children

('femi', 'ade', 'lola', 'fola')